.sort-header {
    display: flex;
    justify-content: space-between;

    i {
        cursor: pointer;
        padding: 0 2px;
    }
}

.add-new {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .group-button {
        display: flex;
        gap: 10px;

        i {
            padding: 0 2px;
        }
    }
}
